body {
    margin: 0;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
}

Apply Golden Ratio to font sizes and line height based on paragraph font size. Related Tools: Web Fonts HTML Color Codes .htaccess Generator;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}